  name: Build documentation

  on:
    push:
      branches: ["main"]
    workflow_dispatch:

  env:
    INSTANCE: 'Writerside/taatayr'
    ARTIFACT: 'webHelpTAATAYR2-all.zip'
    DOCKER_VERSION: '241.18775'

  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Build docs using Writerside Docker builder
          uses: JetBrains/writerside-github-action@v4
          with:
            instance: ${{ env.INSTANCE }}
            artifact: ${{ env.ARTIFACT }}
            docker-version: ${{ env.DOCKER_VERSION }}

        - name: Save artifact with build results
          uses: actions/upload-artifact@v4
          with:
            name: docs
            path: |
              artifacts/${{ env.ARTIFACT }}
            retention-days: 7